.filter-container {
  position: relative;
}
.filters {
  list-style: none;
  padding: 16px 24px;
  position: absolute;
  height: 0;
  opacity: 0;
}
.active {
  height: auto;
  opacity: 1;
}
.filters,
.filter {
  background: var(--secondary-bg);
  color: var(--main-font-color);
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  width: 200px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  margin-bottom: 4px;
}
.filter-container ul.active {
  display: block;
}
.filter-container ul li {
  margin-bottom: 8px;
}
.filter-container ul li:hover {
  font-weight: 800;
  cursor: pointer;
}

@media (min-width: 768px) {
  .filter,
  .filters {
    font-size: 14px;
  }
}
