.header {
  background: var(--secondary-bg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  height: 80px;
  color: var(--main-font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
h1 {
  font-weight: 800;
  font-size: 14px;
}
button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  color: inherit;
  cursor: pointer;
  font-size: 12px;
}

span {
  margin-left: 8px;
}

@media (min-width: 768px) {
  .header {
    padding: 0 81px;
  }
  h1 {
    font-size: 24px;
  }
  button {
    font-size: 16px;
  }
}
