.form {
  position: relative;
}
input {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  padding: 14px 0 14px 74px;
  font-size: 12px;
  color: #111517;
}
input::placeholder {
  color: #c4c4c4;
}
svg {
  position: absolute;
  left: 9.33%;
  top: 33.33%;
  color: #b2b2b2;
}
