.App {
  background-color: var(--primary-bg);
}
.main {
  padding: 24px 16px;
}

@media (min-width: 768px) {
  .main {
    padding: 48px 80px;
  }
}
@media (min-width: 1024px) {
  .control-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
