:root {
  --primary-bg: #f2f2f2;
  --secondary-bg: #fff;
  --main-font-color: #111517;
}

[data-theme="dark"] {
  --secondary-bg: #2b3844;
  --primary-bg: #202c36;
  --main-font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}
